.header {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  background-color: deepskyblue;
  .links-container {
    margin: 5px;
    display: flex;
    .link-wrapper {
      margin-left: 10px;
    }
  }
  .sign-out-button{
    margin: 5px;
  }
  button {
    padding: 10px;
    border: none;
    border-radius: 2px;
    background-color: lightblue;
    outline: none;
    a {
      color: black;
      text-decoration: none;
    }
    &:hover {
      background-color: dodgerblue;
      cursor: pointer;
    }
  }
}
